.container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.containerLink {
  width: 142px;
}

.containerText {
  display: flex;
  justify-content: center;
}

.boxText {
  font-family: var(--font-family-secondary), serif;
  max-width: 958px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &h2 {
    font-size: 20px;
  }

  .textParagraph {
    font-size: 14px;
    line-height: 24px;
    text-indent: 1.5em;
  }
}

.link {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: var(--font-family-secondary), serif;
  font-size: 14px;
}