.singUpBox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.containerIcon {
  max-width: 330px;
  width: 100%;
  display: flex;
  gap: 60px;
  margin-top: 12px;
  justify-content: center;
}

