.success, .error {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-success-900);
    border-radius: 2px;
    color: var(--color-light-100);
    border: 1px solid var(--color-success-500);
    font-family: var(--font-family-secondary), sans-serif;
    line-height: var(--line-height-m);
    font-size: var(--font-size-s);
    text-align: center;
    gap: 30px;
    padding: 6px 24px;
}
.error {
    background-color: var(--color-danger-900);
    border: 1px solid var(--color-danger-500);
}