.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 294px;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.title {
  font-size: 20px;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: #ff4d4f;
  margin: 10px 0;
}