$mobileBreakPoint : 768px;

.moreButton {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}


.buttonsWrapper {
  height: 36px;
  width: 238px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.boxButtonLogIn {
  display: flex;
  justify-content: center;
  width: 107px;
  border: none;
  color: var(--color-info-700);
  text-align: center;

  &:hover {
    color: var(--color-info-300);
  }
}

.boxButtonSignUp {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 107px;
  background-color: var(--color-info-500);
  color: var(--color-light-100);
}

.badge {
  order: -1;
  display: block;
  margin-right: 40px;
}


.moreButton {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}


@media (max-width: $mobileBreakPoint) {
  .buttonsWrapper {
    display: none;
  }
  .badge {
    display: none;
  }
  .moreButton {
    display: flex;
  }
}