.container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.containerLink {
  width: 142px;
  color: var(--color-light-100);
}

.containerText {
  display: flex;
  justify-content: center;
}

.boxText {
  font-family: var(--font-family-secondary), serif;
  max-width: 958px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--color-light-100);

  &h2 {
    font-size: 20px;
  }

  .textParagraph {
    width: 958px;
    text-align: center;
    align-self: stretch;
    min-height: 936px;
    font-size: 14px;
    line-height: 24px;

  }
}

.link {
  display: flex;
  gap: 12px;
  align-items: center;
  font-family: var(--font-family-secondary), serif;
  font-size: 14px;
}