$mobileBreakPoint : 768px;

.formWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  @media (max-width: $mobileBreakPoint) {
    gap: 30px;

  }
}


.forgotPassword{
  display: flex;
  justify-content: end;
  padding: 10px 0;
  cursor: auto;
  color: var(--color-light-900);
  span {
    cursor: pointer;
  }
}


.buttonsWrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  @media (max-width: $mobileBreakPoint) {
    gap: 20px;
  }
}

.button{
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--line-height-s);
  cursor: pointer;
  @media (max-width: $mobileBreakPoint) {
    height: 48px;
  }
}

.spanText{
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
}
