$mobileBreakPoint : 768px;

.signInWrapper {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  @media (max-width: $mobileBreakPoint) {
    padding-top: 5%;
    align-items: start;
  }
}

.card{
  @media (max-width: $mobileBreakPoint) {
    width: 100% !important;
    > div {
      background-color: transparent;
      border: none;
      width: 100%;
      padding: 0;
    }
    box-shadow: none;
  }
}

.contentWrapper {
  width: 330px;
  min-height: 418px;
  @media (max-width: $mobileBreakPoint) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.oAuth {
  padding-top: 12px;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
  @media (max-width: $mobileBreakPoint) {
    padding-top: 15px;
  }
}

.oAuthIcon{
  cursor: pointer;
  color: white;
  height: 36px;
}

.signInForm{
  margin-top: 24px;
  height: 100%;
}

.buttonCloseIcon {
  background: none;
  border: none;
  padding: 0;
  margin-right: 24px;
  cursor: pointer;
  width: 0;
}
