.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

.boxText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.boxBtnIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}