.calendarGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: none;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-dark-100);

    &:hover {
      background: var(--color-dark-300);
    }
  }
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  color: var(--color-dark-100);
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}

.day {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.day {
  font-size: 16px;
  padding: 4px;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--color-light-100);
  isolation: isolate;

  &:hover {
    background: var(--color-info-700);
  }

  &.selected {
    background: var(--color-info-900);
    color: white;
  }

  &:focus {
    border: 2px solid var(--color-info-300)
  }

  &.weekend {
    color: var(--color-danger-300);

    &.selected {
      color: var(--color-danger-300);
    }
  }

  &.today {
    color: var(--color-info-500);

    &.selected {
      color: var(--color-light-100);
    }

    &:hover {
      color: var(--color-info-100);
    }
  }

  &.selectedRange {
    background-color: var(--color-info-900);
    position: relative;
    z-index: 1;
    border-radius: 0;

    &:not(.start):not(.end)::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -6px;
      right: -6px;
      background-color: var(--color-info-900);
      z-index: -1;
    }

    &.start {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      box-shadow: 4px 0 0 0 var(--color-info-900);

      &::after {
        left: 0;
        right: -6px;
      }
    }

    &.middle {
      border-radius: 0;

      &::before {
        left: -6px;
        right: -6px;
      }
    }

    &.end {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      box-shadow: -4px 0 0 0 var(--color-info-900);

      &::after {
        left: -6px;
        right: 0;
      }
    }
  }

  &.otherMonth {
    color: var(--color-light-900);

    &.selectedRange {
      background-color: var(--color-info-700); // Более светлый оттенок
      color: var(--color-light-100);

      &::after {
        background-color: var(--color-info-700);
      }
    }
  }
}

.dayContent {
  user-select: none;
  pointer-events: none;
}

.emptyDay {
  visibility: hidden;
}