.singUpBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerIcon {
  max-width: 330px;
  width: 100%;
  display: flex;
  gap: 60px;
  margin-top: 12px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boxInputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;
}

.submissionBlock {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  align-items: center;
}

.signUpFooter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.authSwitch {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  margin-top: 18px;
}

.linkInfo {
  color: var(--color-info-300);
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
}

.linkLarge {
  @extend .linkInfo;
  font-size: 16px;
  color: var(--color-info-500);
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 24px;
  text-decoration: none;
}

.spanInfo {
  font-size: 12px;
  line-height: 16px;
}

.spanError {
  color: var(--color-danger-500);
  font-size: 12px;
}


.buttonSingUp {
  width: 330px;
  font-size: 16px;
  background-color: var(--color-info-500);
}

.spanTextAboutAccount {
  color: var(--color-light-100);
}

.input {
  width: 330px;
}

