.singUpBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerIcon {
  max-width: 330px;
  width: 100%;
  display: flex;
  gap: 60px;
  margin-top: 12px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.boxInputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;
}

.submissionBlock {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  align-items: center;
}

.signUpFooter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.authSwitch {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  margin-top: 18px;
}


.modalSignUp {
  z-index: 9999;
  background-color: var(--color-dark-700);
}

.containerModal {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.boxModalHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-dark-100);
  padding: 12px 24px 11px 24px;

  h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: var(--color-light-100);
  }
}

.boxModalBody {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 30px 24px 36px 24px;

  p {
    color: var(--color-light-100);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
  }
}

.linkInfo {
  color: var(--color-info-300);
  text-decoration: underline;
  font-size: 12px;
  line-height: 16px;
}

.linkLarge {
  @extend .linkInfo;
  font-size: 16px;
  color: var(--color-info-500);
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 24px;
}

.spanInfo {
  font-size: 12px;
  line-height: 16px;
}

.spanError {
  color: var(--color-danger-500);
  font-size: 12px;
}

.boxModalButton {
  display: flex;
  justify-content: flex-end;
}

.buttonSingUp {
  width: 330px;
  font-size: 16px;
  background-color: var(--color-info-500);
}

.spanTextAboutAccount {
  color: var(--color-light-100);
}

.input {
  width: 330px;
}

