$containerDesktopWidth: 95%;
$containerMobileWidth: 90%;


//different Breakpoint sizes
// Small	    sm
// Medium	    md
// Large	    lg
// Extra large	xl

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;