.postWrapper {
  position: relative;
  width: 100%;
  overflow: visible;
}

.postImage {
  width: 100%;
  height: auto;
  aspect-ratio: 234/240;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.post {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  background: var(--color-dark-700);
  z-index: 2;
  padding: 10px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  >h3 {
    cursor: pointer;
  }
  >img {
    cursor: pointer;
  }
}

.postText {
  font-family: var(--font-family-secondary) sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.toggleButton {
  color: var(--color-info-500);
  cursor: pointer;
  margin-left: 6px;
  text-decoration: underline;
  &:hover{
    color: var(--color-info-100);
  }
}
