.tabRoot {
    display: flex;
    flex-direction: column;
}
.tabList {
    display: flex;
    width: 100%;
}

.default, .contrast {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 6px 24px;
    border-bottom: 2px solid var(--color-info-500);
    text-align: center;
    color: var(--color-info-500);
    font-family: var(--font-family-secondary), serif;
    line-height: var(--line-height-m);
    font-size: var(--font-size-m);

    &:active {
        background-color: var(--color-info-100-rgb);
    }

    &:hover {
        background-color: var(--color-info-900-rgb);
    }

    &:focus {
        border:2px solid var(--color-info-700);
        box-shadow: 0 2px 2px var(--color-info-700);
    }

    &:disabled {
        color: var(--color-info-900);
        border-bottom: 2px solid var(--color-info-900);
    }
}

.contrast {
    color: var(--color-dark-100);
    border-bottom: 2px solid var(--color-dark-100);

    &:active {
        background-color: var(--color-info-100-rgb);
    }

    &:hover {
        background-color: var(--color-info-900-rgb);
    }

    &:focus {
        border:2px solid var(--color-info-700);
        box-shadow: 0 2px 2px var(--color-info-700);
    }

    &:disabled {
        color: var(--color-dark-300);
        border-bottom: 2px solid var(--color-dark-300);
    }

}