@import "@/shared/styles/breakpoints";


.wrapper {
  width: $containerDesktopWidth;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
  gap: 25px;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: $mobileBreakPoint) {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }
}





.content{
  padding-top: 24px;
  width: 100%;
  min-height: calc(100% - 60px);
  overflow-x: auto;
  overflow-y: scroll;
  @media only screen and (max-width: $mobileBreakPoint) {
    height: calc(100vh - 120px);
    width: 100%;
    padding: 10px calc((100% - $containerMobileWidth) / 2);
  }
}

.content::-webkit-scrollbar {
  display: none;
}